# Copy this file to .env and fill in your Supabase credentials
SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres.cqgglrpcbmstihzlxsrr
SPRING_DATASOURCE_PASSWORD=[PASSWORD]
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970 #fine for now